.MasterLayout-maindArea {
    display: block;
    padding: 10px 0px;
    width: 100%;
    background-color: #E9EBEE;
}

.MasterLayout-titleFont {
    display: block;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 3em;
}

.MasterLayout-contentArea {
    width: 90%;
    margin: 0px auto;
}

.MasterLayout-navbar {
    display: block;
    margin: 0px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.MasterLayout-pageArea {
    padding: 0px 0px 10px 0px;
    margin: 0px auto;
    background-color: white;
    border: 3px solid black;
}

.MasterLayout-masterpieceIcon {
    display: inline-block;
    color: white;
    font-size: 30px;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.MasterLayout-onBackground {
    background-color: black;
}

.MasterLayout-offBackground {
    background-color: #888888;
}

.MasterLayout-masterpieceIconText {
    display: block;
    padding: 0px 0px 0px 0px;
    color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1em;
    text-align: center;
}

.MasterLayout-masterpieceShowBox {
    display: inline-block;
    width: 90px;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-top-right-radius: 5px;
}
