.MasterLayout-maindArea {
    display: block;
    padding: 10px 0px;
    width: 100%;
    background-color: #E9EBEE;
}

.MasterLayout-titleFont {
    display: block;
    padding: 20px 0px;
    text-align: center;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 3em;
}

.MasterLayout-contentArea {
    width: 90%;
    margin: 0px auto;
    border: 1px solid black;
}

.MasterLayout-navbar {
    display: block;
    margin: 0px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: white;
}

.MasterLayout-pageArea {
    padding: 10px 0px;
    margin: 0px auto;
    background-color: white;
}

.MasterLayout-masterpieceIcon {
    display: inline-block;
    color: #777777;
    font-size: 50px;
    margin-left: 50%;
    transform: translate(-50%, 0%);

}

.MasterLayout-masterpieceIconText {
    display: block;
    padding: 10px 0px 0px 0px;
    color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1em;
    text-align: center;
}

.MasterLayout-masterpieceShowBox {
    display: inline-block;
    width: 90px;
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    border: 2px solid #777777;
    border-radius: 5px;
}
