.TinyPhotoBox-photoBox {
    margin: 0px auto;
}

.TinyPhotoBox-photo {
    display: inline-block;
    cursor: pointer;
}

.TinyPhotoBox-photoListScreen {
    display: block;
    margin: 0px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 100px;
}

.TinyPhotoBox-slideMessage {
    position: relative;
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 1.5em;
    color: black;
    text-align: center;
    border-top:3px solid black;
    border-bottom:3px solid black;
}

.TinyPhotoBox-fingerSlide {
    position: absolute;
    display: inline-block;
    color: black;
    top: 50%;
    transform: translate(0%, -50%); 
    animation: slidMessage 3s infinite;
}

.TinyPhotoBox-navbarArrowLeft {
    display: inline-block;
    position: absolute;
    font-size: 60px;
    color: black;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 2;
}

.TinyPhotoBox-navbarArrowLeft:hover {
    background-color: rgba(100, 100, 100, 0.21);
    border-radius: 60px;
    color: yellow;
    cursor: pointer;
}

.TinyPhotoBox-navbarArrowRight {
    display: inline-block;
    position: absolute;
    font-size: 60px;
    color: black;
    top: 50%;
    right: 0px;
    transform: translate(0%, -50%);
    z-index: 2;
}

.TinyPhotoBox-navbarArrowRight:hover {
    background-color: rgba(100, 100, 100, 0.21);
    border-radius: 60px;
    color: yellow;
    cursor: pointer;
}

.TinyPhotoBox-displayBox {
    position: relative;
    height: 600px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.TinyPhotoBox-displayScreen {
    position: relative;
    display: inline-block;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.TinyPhotoBox-displayPhoto {
    position: absolute;
    height: 100%;
    margin-left: 50%;
    min-width: 50px;
    transform: translate(-50%, 0%);
}

.TinyPhotoBox-displayNone {
    display: none;
}

.TinyPhotoBox-showIn {
    animation: showIn 1s;
}

.TinyPhotoBox-spinner {
    position: absolute;
    display: inline-block;
    font-size: 80px;
    left: -40px;
    top: 150px;
    opacity: 0.5;
    animation: spin infinite 10s;
}

@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(3600deg);}
}

.TinyPhotoBox-titleContext {
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 1.5em;
    text-align: center;
}

@keyframes slidMessage {
    0% {left: 10%; opacity: 1;}
    100% {left: 90%; opacity: 0;}
}

@keyframes showIn {
    0%   {left: -100px; opacity: 0;}
    100% {left: 0px; opacity: 1;}
}

@media screen and (max-width: 800px) {

.TinyPhotoBox-displayScreen {
    height: 250px;
}

.TinyPhotoBox-spinner {
    top: 50px;
    left: -40px;
}

.TinyPhotoBox-displayBox {
    height: 250px;
}

.TinyPhotoBox-titleContext {
    font-size: 1em;
}

}
