.RollingMenu-mainArea {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 100px);
	background-color: black;
}

.RollingMenu-menu {
	position: relative;
	display: inline-block;
	top: 50%;
	left: 100%;
	/*border: 1px solid white;*/
	transform: translate(-50%, -50%);
}

.RollingMenu-menu3d {
	position: absolute;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transform-origin: center center;
	transform: rotateY(70deg);
}

.RollingMenu-item {
	margin: 0;
	display: inline-block;
	position: absolute;
	padding: 10px;
	backface-visibility: hidden;
	text-align: center;
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	border-radius: 10px;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	backface-visibility: hidden;
}

.RollingMenu-star {
	margin: 0;
	display: inline-block;
	position: absolute;
	text-align: center;
	font-size: 1.5em;
	backface-visibility: hidden;
}

.RollingMenu-circle {
	position: absolute;
	display: inline-block;
	width: 70%;
	height: 70%;
	left: 15%;
	top: 15%;
	/*border: 1px solid white;*/
	border-radius: 100%;
}

.RollingMenu-titleText {
	position: absolute;
	display: inline-block;
	top: 20px;
	left: 20px;
	color: white;
	font-size: 2em;
	border-bottom: 3px solid white;
}

.RollingMenu-subTitleText {
	position: absolute;
	display: inline-block;
	top: 65px;
	left: 20px;
	color: white;
	font-size: 2em;
}

.RollingMenu-squenceButton {
	position: absolute;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: white;
}

.RollingMenu-squenceButton:hover {
	cursor: pointer;
	color: yellow;
}

@media screen and (max-width: 800px) {
.RollingMenu-titleText {
	font-size: 1.2em;
}

.RollingMenu-subTitleText {
	font-size: 1.2em;
	top: 45px;
}
}