.RollingMenu-mainArea {
	position: relative;
	overflow: hidden;
	height: calc(100vh - 100px);
	background-color: black;
}

.RollingMenu-menu {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 100%;
	border: 1px solid white;
}

.RollingMenu-item {
	position: absolute;
	display: inline-block;
	min-width: 150px;
	max-width: 250px;
	padding: 10px 0px;
	text-align: center;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	cursor: pointer;
	color: white;
	font-size: 1.5em;
	border-radius: 10px;
}

.RollingMenu-titleText {
	position: absolute;
	display: inline-block;
	top: 20px;
	left: 20px;
	color: white;
	font-size: 2em;
	border-bottom: 3px solid white;
}

.RollingMenu-subTitleText {
	position: absolute;
	display: inline-block;
	top: 65px;
	left: 20px;
	color: white;
	font-size: 2em;
}

.RollingMenu-squenceButton {
	position: absolute;
	display: inline-block;
	border-radius: 10px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	color: white;
}

.RollingMenu-squenceButton:hover {
	cursor: pointer;
	color: yellow;
}