.Article-mainArea {
	width: 100%;
	padding: 0px 10px;
}

.Article-title {
	text-align: center;
}

.Article-mainArea img {
	max-width: 100%;
}

.Article-mainArea pre {
    background-color: #dddddd;
    border: 1px solid black;
    overflow-x: auto; 
}