.mainArea {
	width: 100%;
	padding: 0px 10px;
}

.title {
	text-align: center;
}

.mainArea img {
	max-width: 100%;
}

.mainArea pre {
	margin: 1em 0;
	font-size: 12px;
	background-color: #eee;
	border: 1px solid #ddd;
	padding: 5px;
	line-height: 1.5em;
	color: #444;
	overflow: auto;
	border-radius: 3px;
}

.mainArea blockquote p {
	font-size: 1.1rem;
	color: #999;
}

.mainArea blockquote {
	border-left: 10px solid #F0F2F4;
	margin: 1.7rem 0;
	padding-left: .85rem;
}
