.TinyYoutubeBox-photoBox {
    margin: 0px auto;
}

.TinyYoutubeBox-photo {
    display: inline-block;
    cursor: pointer;
}

.TinyYoutubeBox-photoListScreen {
    display: block;
    margin: 0px auto;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    min-height: 100px;
}

.TinyYoutubeBox-photoNav {
    display: block;
    height: 60px;
    line-height: 60px;
    font-size: 1.5em;
    color: black;
    text-align: center;
}

.TinyYoutubeBox-navbarArrowLeft {
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    left: 10px;
    font-size: 40px;
    color: #CCCCCC;
}

.TinyYoutubeBox-navbarArrowRight {
    display: inline-block;
    position: absolute;
    margin-top: 70px;
    right: 10px;
    font-size: 40px;
    color: #CCCCCC;
}

.TinyYoutubeBox-displayVideoScreen {
    display: block;
    margin: 0px auto;
    width: 640;
    background-color: #CCCCCC;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (max-width: 800px) {

.TinyYoutubeBox-photoListScreen {
    width: 80%;
}

.TinyYoutubeBox-displayVideoScreen {
    width: 300px;
}

}
