.Diaries-mainArea {
    position: relative;
    display: block;
    width: 100%;
    min-height: 700px;
}

.Diaries-backgroundArea {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
}

.Diaries-flighterJet {
    position: fixed;
    display: inline-block;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    font-size: 500px;
    opacity: 0.15;
    transform: rotate(-45deg);
    color: #ff0000;
}

.Diaries-language {
    position: fixed;
    display: inline-block;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    font-size: 500px;
    opacity: 0.15;
    transform: rotate(-10deg);
    color: #43ad8f;
}

.Diaries-coffee {
    position: fixed;
    display: inline-block;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    font-size: 500px;
    opacity: 0.15;
    transform: rotate(20deg);
    color: #FFB6CC;
}

.Diaries-movie {
    position: fixed;
    display: inline-block;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    font-size: 500px;
    opacity: 0.15;
    transform: rotate(0deg);
    color: #ff5c2b;
}

.Diaries-bicycle {
    position: fixed;
    display: inline-block;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    font-size: 500px;
    opacity: 0.15;
    transform: rotate(10deg);
    color: #0aa700;
}

.Diaries-book {
    position: fixed;
    display: inline-block;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    font-size: 500px;
    opacity: 0.15;
    transform: rotate(0deg);
    color: purple;
}

.Diaries-cogs {
    position: fixed;
    display: inline-block;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    font-size: 500px;
    opacity: 0.15;
    transform: rotate(0deg);
    color: #00b8ff;
}

.Diaries-categoriesNav {
    display: block;
    width: 60%;
    margin: 0px auto;
    padding: 0px;
}

.Diaries-categoryLabel {
    display: inline-block;
    position: relative;
    margin: 10px 5px 5px 0px;
    border: 3px solid #3a89ff;
    color: white;
    height: 50px;
    width: 80px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 15px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
    background-color: rgb(152, 192, 255);
}

.Diaries-categoryLabelOn {
    background-color: #3a64ff;
    background-image: linear-gradient(#61a0ff, #3a64ff);
    color: white;
}

.Diaries-addArticleButton {
    font-size: 2em
}

.Diaries-linkStyle {
    cursor: pointer;
}

.Diaries-linkStyle:hover {
    color: yellow;
}

.Diaries-diariesBox {
    position: relative;
}

.Diaries-addDiaryZone {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

@media screen and (max-width: 800px) {

.Diaries-categoriesNav {
    width: 100%;
}

.Diaries-flighterJet, .Diaries-coffee, .Diaries-movie, .Diaries-bicycle, .Diaries-book, .Diaries-cogs, .Diaries-language {
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    font-size: 200px;

}

}