.DiariesLayout-maindArea {
    display: block;
    padding: 10px 0px 0px 0px;
    width: 100%;
    padding-top: 50px;
}

.DiariesLayout-titleFont {
    display: block;
    padding: 20px 0px 0px 0px;
    text-align: center;
    font-size: 3em;
}
