.MainNavbar-navbar {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    overflow: auto;
    text-align: center;
    line-height: 50px;
    background-color: #3a89ff;
    width: 100%;
    z-index: 1;
}

.MainNavbar-navbarFixed {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    overflow: auto;
    text-align: center;
    line-height: 50px;
    background-color: rgba(58, 137, 255, 0.42);
    width: 100%;
    z-index: 1;
}

.MainNavbar-navbarItem {
    color: white;
    display: inline-block;
    font-size: 1.2em;
    width: 200px;
    cursor: pointer;
}

.MainNavbar-navbarItem:hover {
    color: #F1FF5A;
}

.MainNavbar-navbarItemCollapse {
    color: white;
    display: none;
    width: 80px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.MainNavbar-navbarItemCollapse:hover {
    color: #F1FF5A;
}

.MainNavbar-homeButton {
    position: fixed;
    right: 15px;
    top: 60px;
    color: black;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: white;
    z-index: 2;
}

.MainNavbar-homeButton:hover {
    cursor: pointer;
    color: yellow;
}

.MainNavbar-homeButton > svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
}

@media screen and (max-width: 800px) {

.MainNavbar-homeButton {
    right: 15px;
    top: auto;
    bottom: 60px;
}

.MainNavbar-navbarItem {
    display: none;
}

.MainNavbar-navbarItemCollapse {
    display: inline-block;
}

}
