.MainNavbar-backgroundArea {
    width: 100%;
    height: 400px;
}

.MainNavbar-backgroundImg {
    position: relative;
    top: -150px;
    width: 100%;
}

.MainNavbar-backgroundAreaHigh {
    width: 100%;
    height: 450px;
    background-color: black;
}

.MainNavbar-mainBackground {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.MainNavbar-blockBackground {
    width: 100%;
    height: 400px;
    background-color: blue;
    opacity: 0.2;
    position: absolute;
    z-index: 1;
}

.MainNavbar-textArea {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 2;
}

.MainNavbar-centerText {
    position: absolute;
    display: inline-block;
    width: 100%;
    font-size: 1.8em;
    color: white;
    font-family: cursive;
    text-align: center;
    line-height: 400px;
    word-wrap: break-word;
}

.MainNavbar-logoArea {
    position: absolute;
    top: 340px;
    right: 30px;
    display: block;
    width: 172px;
    margin: 0px auto;
}

.MainNavbar-faIcon {
    color: white;
    font-size: 34px;
    padding: 4px;
    margin: 4px;
    display: inline-block;
    height: 35px;
    width: 35px;
    border: 1px solid white;
    border-radius: 35px;
    cursor: pointer
}

.MainNavbar-navbar {
    position: relative;
    text-align: center;
    left: 0px;
    line-height: 50px;
    background-color: #3a64ff;
    background-image: linear-gradient(#7db1ff, #3a64ff);
    width: 100%;
    border-top: 2px solid gray;
    z-index: 3;
}

.MainNavbar-navbarFixed {
    position: fixed;
    left: 0px;
    top: 0px;
    height: 50px;
    overflow: auto;
    text-align: center;
    line-height: 50px;
    background-color: rgba(125, 177, 255, 0.68);
    width: 100%;
    z-index: 3;
}

.MainNavbar-navbarItem {
    color: white;
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.2em;
    width: 200px;
    cursor: pointer;
}

.MainNavbar-navbarItem:hover {
    color: #F1FF5A;
}

.MainNavbar-navbarItemCollapse {
    color: white;
    display: none;
    width: 80px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}

.MainNavbar-navbarItemCollapse:hover {
    color: #F1FF5A;
}

@media screen and (max-width: 800px) {

.MainNavbar-backgroundImg {
    top: 0px;
    left: -30%;
    width: 160%;
}

.MainNavbar-logoArea {
    right: calc(50% - 86px);
}

.MainNavbar-navbarItem {
    display: none;
}

.MainNavbar-navbarItemCollapse {
    display: inline-block;
}

}

@media screen and (max-width: 600px) {

.MainNavbar-backgroundImg {
    top: 0px;
    left: -40%;
    width: 180%;
}

}