.Diary-mainArea {
    position: relative;
    display: block;
    min-height: 700px;
    width: 60%;
    margin: 10px auto;
    background-color: white;
    border: 1px solid black;
    padding: 30px;
}

.Diary-diaryContent img {
    max-width: 90%;
}

.Diary-diaryContent pre {
    background-color: #dddddd;
    border: 1px solid black;
    overflow-x: auto; 
}

.Diary-diaryContent {
    display: block;
    margin: 0px auto;
    line-height: 30px;
    font-family: Helvetica,arial,freesans,clean,sans-serif;
}

.Diary-dateBox {
    position: absolute;
    display: block;
    top: 20px;
    left: 100px;
}

.Diary-typeLabel {
    position: absolute;
    display: inline-block;
    top: 10px;
    left: -20px;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.Diary-calendar {
    position: relative;
    top: -2px;
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
}

.Diary-dateText {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.Diary-leaveComment {
    font-size: 1em;
    text-align: center;
}

@media screen and (max-width: 800px) {

.Diary-mainArea {
    width: 90%;
}

}
