.AboutMe-mainArea {
    position: relative;
    display: block;
    width: 100%;
    background-color: #E9EBEE;
    padding: 0px 0px;
}

.AboutMe-backgroundArea {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-y: hidden;
}

.AboutMe-scrollAuto {
    overflow-y: auto;
}

.AbouteMe-backgroundImg {
    position: absolute;
    width: 100%;
    opacity: 0;
}

.AbouteMe-backgroundImgFadeIn {
    position: absolute;
    width: 100%;
    opacity: 0.5;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}

.AbouteMe-contentArea {
    position: relative;
    display: block;
    width: 100%;
    height: 120%;
    z-index: 2;
}

.AboutMe-titleWordBig {
    display: block;
    color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 3em;
    padding: 0px 0px 0px 0px;
}

.AboutMe-centerAlign {
    text-align: center;
}

.AboutMe-contentText {
    display: block;
    padding: 10px 0px 0px 0px;
    color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.2em;
}

.AboutMe-logoBox {
    display: block;
    margin: 10px auto;
    width: 140px;
    height: 140px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 140px;
}

.AboutMe-logo {
    display: inline-block;
    width: 120px;
    height: 120px;
    padding: 10px;
}

.AboutMe-inlineLogo {
    width: 110px;
    height: 110px;
}

.AboutMe-photoBox {
    display: block;
    margin: 10px auto;
    width: 250px;
}
.AboutMe-photo {
    width: 100%;
    border-radius: 10px;
}

.AboutMe-inlineParagraph {
    display: inline-block;
    width: 60%;
    background-color: #EFEFEF;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.AboutMe-middleAlign {
    vertical-align: middle;
}

.AboutMe-textInParagraph {
    display: inline-block;
    color: black;
    font-size: 1em;
    line-height: 20px;
}

.AboutMe-box {
    display: block;
    padding: 10px 0px;
    margin: 0px auto;
    background-color: white;
    border: 1px solid black;
    width: 75%;
}

@media screen and (max-width: 800px) {

.AboutMe-inlineLogo {
    display: block;
    margin: 0px auto;
}

.AboutMe-inlineParagraph {
    display: block;
    width: 90%;
    margin: 0px auto;
}

.AboutMe-textInParagraph {
    padding: 10px 0px;
}

.AboutMe-box {
    display: block;
    width: 90%;
}

}

@media screen and (max-width: 650px) {

.photoBox {
    width: 70%;
}

.AbouteMe-backgroundImg {
    width: 180%;
    left: -40%;
}

.AbouteMe-backgroundImgFadeIn {
    width: 180%;
    left: -40%;
}


}