.AboutMe-mainArea {
    position: relative;
    display: block;
    width: 100%;
    background-color: #E9EBEE;
    padding: 0px 0px 0px 0px;
}

.AboutMe-backgroundArea {
    position: fixed;
    display: block;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow-y: hidden;
}


.AbouteMe-backgroundImg {
    position: relative;
    width: 100%;
    opacity: 0;
}

.AbouteMe-backgroundImgFadeIn {
    position: relative;
    width: 100%;
    opacity: 0.5;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 0.5;}
}

.AbouteMe-contentArea {
    position: relative;
    display: block;
    padding: 30px 0px 0px 0px;
    width: 100%;
    z-index: 2;
}

.AboutMe-titleWordBig {
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    background-color: #444444;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    padding: 5px 30px 5px 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.AboutMe-centerAlign {
    text-align: center;
}

.AboutMe-contentText {
    display: block;
    padding: 10px 0px 0px 0px;
    color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 1.2em;
}

.AboutMe-logoBox {
    display: block;
    margin: 10px auto;
    width: 140px;
    height: 140px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.28);
    border-radius: 140px;
}

.AboutMe-logo {
    display: inline-block;
    width: 120px;
    height: 120px;
    padding: 10px;
}

.AboutMe-inlineLogo {
    width: 110px;
    height: 110px;
}

.AboutMe-photoBox {
    display: block;
    margin: 10px auto;
    width: 250px;
}
.AboutMe-photo {
    width: 100%;
    border-radius: 10px;
}

.AboutMe-inlineParagraph {
    display: inline-block;
    width: 60%;
    background-color: #EFEFEF;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

.AboutMe-middleAlign {
    vertical-align: middle;
}

.AboutMe-textInParagraph {
    display: inline-block;
    color: black;
    font-size: 1em;
    line-height: 20px;
}

.AboutMe-box {
    display: block;
    padding: 10px 0px;
    margin: 0px auto 20px auto;
    background-color: rgba(256, 256, 256, 1);
    border: 1px solid black;
    width: 75%;
}

.AboutMe-boxFadeOut {
    display: block;
    padding: 10px 0px;
    margin: 0px auto 20px auto;
    background-color: rgba(256, 256, 256, 0.85);
    border: 1px solid black;
    width: 75%;
    animation: backgroundFadeOut 1s;
}

@keyframes backgroundFadeOut {
    0% {background-color: rgba(256, 256, 256, 1);}
    100% {background-color: rgba(256, 256, 256, 0.85);}
}

@media screen and (max-width: 800px) {

.AboutMe-inlineLogo {
    display: block;
    margin: 0px auto;
}

.AboutMe-inlineParagraph {
    display: block;
    width: 90%;
    margin: 0px auto;
}

.AboutMe-textInParagraph {
    padding: 10px 0px;
}

.AboutMe-box, .AboutMe-boxFadeOut {
    display: block;
    width: 90%;
}

}

@media screen and (max-width: 650px) {

.photoBox {
    width: 70%;
}

.AbouteMe-backgroundImg, .AbouteMe-backgroundImgFadeIn {
    width: 180%;
    left: -40%;
}

.AbouteMe-backgroundImgFadeIn {
    width: 180%;
    left: -40%;
}


}