.SideMenu-menuItem {
	display: block;
	cursor: pointer;
	border-top: 1px solid #CDCDCD;
	border-bottom: 1px solid #CDCDCD;
	padding: 10px 5px;
}

.SideMenu-title {
	display: block;
	text-align: center;
}